<div class="main-content">
  <ng-template #idle>
    <div class="actions-wrapper">
      <action-block (onAdd)="addUser()" (onSearch)="search($event)" (onRefresh)="refreshData()"></action-block>
      <div *ngIf="isTimerStarted">{{timeout}}</div>
    </div>
    <table mat-table [dataSource]="users$">
      <ng-container matColumnDef="{{_colName}}" *ngFor="let _colName of dynamicColumns">
        <th mat-header-cell *matHeaderCellDef> {{_colName}} </th>
        <td mat-cell *matCellDef="let user"> {{findColumnValue(user, _colName)}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>{{'Action'}}</th>
        <td mat-cell *matCellDef="let user">
          <button mat-button (click)="editUser(user)">Редактировать</button>
          <button mat-button (click)="removeUser(user)">Удалить</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="dynamicColumns.concat('action')"></tr>
      <tr mat-row *matRowDef="let row; columns: dynamicColumns.concat('action');"></tr>
    </table>
  </ng-template>

  <span *ngIf="(loaders.get$ | async); else idle">Loading...</span>



  <!--h5>Loaders</h5>

  <p>Get =>
    <span *ngIf="(loaders.get$ | async); else idle">Loading...</span>
  </p>

  <p>POST =>
    <span *ngIf="(loaders.add$ | async); else idle">Loading...</span>
  </p>

  <p>PUT => <
    <span *ngIf="(loaders.update$ | async); else idle">Loading...</span>
  </p>

  <p>DELETE =>
    <span *ngIf="(loaders.delete$ | async); else idle">Loading...</span>
  </p-->

</div>
